

.navigation {
  text-align: center;
/*  position: fixed; */
  top: 0px;
  left: 0px;
  right: 0px;
}

.navigation li {
  padding-top: 15px;
  padding-bottom: 10px;
  display: inline-block;
  margin-right: 30px;
}

.navigation ul {
  height: 50px;
}

.navigation a {
  text-decoration: none;
  color: #fff;
}

.navigation a:hover {
  color: #009999;
}

.head {
  color: #ffffff;
  text-align: center;
  font-size: 250%;
  margin-top: 100px;
}


.blog-post {
  width: 70%;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  padding: 20px;
  background-color: rgba(255,255,255,0.3);
}


.resize {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 500px) {
  .blog-post {
    width: 100%;
  }
}
