body {
  background-image: url(assets/collage.jpg);
}

.head {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  font-size: 120%;
  margin-top: 100px;
}

.blog-post {
  width: 60%;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  padding: 20px;
  background-color: rgb(121, 182, 84, 0.7);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 110%;
}

.b {
  font-weight: bold;
}

.foot {
  display: block;
  margin-top: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  height: 100px;
  color: rgb(53, 58, 51);
  text-align: center;
}

@@media screen and (max-width: 350px) {
  .navigation li {
    display: inline-block;
  }
  .navigation ul {
    height: 80px;
  }
  .blog-post {
    width: 100%;
  }
  .foot {
    width: 100%;
  }
}
